# SERVER
PORT=3000

# ADMIN
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=your-super-secret-jwt-key-change-me

# EMAIL (SMTP)
# Use https://ethereal.email for testing, or real SMTP
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-ethereal-user@ethereal.email
SMTP_PASS=your-ethereal-password
ADMIN_EMAIL=admin@example.com
